/*
 * Colours
 */
$grey_light: #ccc;
$grey_medium: #999;

/*
 * Mixins
 */
@mixin vendor-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

h2 {
	font-size: 23px;
	line-height: 29px;
}

p.notice {
	padding: 0 10px;
}

.update-posts {
	&.notice {
		position: relative;
		top: -14px;
		form {
			display: inline;
			float: left;
			width: initial;
		}
		.help {
			float: left;
			.info-icon {
				@include vendor-prefix( border-radius, 50% );
				border: 1px solid $grey_light;
				width: 16px;
				height: 16px;
				line-height: 16px;
				display: inline-block;
				text-align: center;
				font-weight: normal;
				color: $grey_light;
				font-size: 13px;
				margin: 5px 0 5px 10px;
				padding-left: 1px;
				&:hover {
					border-color: $grey_medium;
					color: $grey_medium;
				}
			}
		}
	}
	&.updated {
		margin-top: 20px;
		margin-left: 0;
	}
}

.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
	height: 27px;
	margin: 20px 0;
	padding: 0;
	clear: left;
}

.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}

.ui-tabs-nav li a {
	padding: 4px 20px 6px;
	font-weight: bold;
	background:url(../../images/gray-grad.png) repeat-x scroll left top #DFDFDF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.ui-tabs-nav li a {
	color: #C1C1C1;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
	margin: 0 6px -1px 0;
	outline: none;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	&:hover {
		color: #464646;
	}
}

.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav li.ui-state-active a {
	color: #464646;
}

.ui-tabs-panel {
	clear: both;
}

.ui-tabs-panel h3 {
	font: italic normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0 10px 5px;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
}

.ui-tabs-panel h4 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0;
}

.wrap h3, .wrap table {
	display: none;
}

div#content {
	min-width:910px;
}
table {
	border-top:2px solid #ccc;
}

tr {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}

form {
	width: 720px;
	max-width: 100%;
	float: left;
	clear: both;
}

.button {
	min-width: 110px;
}

th label {
	font-size: 12px;
	font-weight: 700;
}

td label {
	color:#666;
}

span.thin {
	font-weight:400;
}

textarea {
	width:100%;
}
	
input.regular-text {
	width:100%;
}

div#reset label {
	color:#000;
}

div#floatleft {
	float:left;
}

div#informations {
	margin: 20px 0 10px 10px;
	width: 170px;
 	border-color: #ddd;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}

div#informations div#titel {
	background: url(../../images/gray-grad.png) repeat-x scroll left top #DFDFDF;
	border-bottom: 1px solid #ddd;
	text-shadow: 0 1px 0 #fff;
	padding:5px;
	text-align:center;
}

div#informations div#text {
	padding:5px;
	text-align:center;
}

div#informations div#text img.profilpic {
	float:right;
	width:38px;
	height:50px;
} 
div#informations div#text li {
	text-align:left;
	border-bottom:1px solid #ddd;
	margin-bottom:4px;
	padding-bottom:2px;
} 

div#informations div#text li.center {
	text-align:center;
}

.newred{
	color: red;
	float: right;
}
.newred.grey{
	color: #999;
}
.newred_dot{
	color: red;
	position: relative;
	left: 3px;
	top: 1px;
}
.orange {
	color: #f90;
}

#mc_embed_signup label {
	color: green;
	line-height: 2.5em;
}
.mc-field-group.updated {
	padding: 1.5em;
	margin: 0 0 1.5em;
}

.pickerstyle{
	display:inline-block;
	float:left;
}

.label-radio {
	margin-right: 20px;
}

.ui-tabs-nav li {
	a.tab-green {
		color: #91bd09;
	}
	a.tab-orange {
		color: #f90;
	}
	&.ui-state-hover a.tab-green, &.ui-state-active a.tab-green,
	&.ui-state-hover a.tab-orange, &.ui-state-active a.tab-orange {
		color: #464646;
	}
}

.clear-both {
	clear: both;
}