{
  "extends": "airbnb-base",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "globals": {
    "lazyload_video_settings": true,
    // Jest globals
    "describe": true,
    "it": true,
    "expect": true
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["warn"],
    "semi": 2
  }
}
