{
  extends: "eslint:recommended",
  env: {
    browser: true,
    es6: true,
    node: true,
  },
  parserOptions: {
    ecmaVersion: 8,
    sourceType: 'module',
  },
  globals: {
    jQuery: true,
    lazyload_video_settings: true,
  },
  rules: {
    "no-console": "off",
    "no-unused-vars": ["warn"],
    semi: 2,
  }
}
