{
  "extends": [
    "airbnb-base",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": false,
    "node": true
  },
  "globals": {
    "wp": true,
    "llvConfig": true,
    // Jest globals
    "describe": true,
    "it": true,
    "expect": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    },
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/extensions": [
      "error",
      {
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "react/jsx-props-no-spreading": [
      "off"
    ],
    "operator-linebreak": [
      2,
      "after"
    ]
  }
}