a.lazy-load-youtube, .lazy-load-vimeo {
	background: #000;
	min-height: 315px;
	max-width: 100%;
	background-size: contain!important; /* alternative: "cover" */
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-family: Arial, serif;
	font-size: 14px;
}
a.lazy-load-youtube:hover, .lazy-load-vimeo:hover {
	text-decoration: none;
	cursor: pointer;
}
.lazy-load-youtube-div, .lazy-load-vimeo-div, .lazy-load-youtube-info {
	max-width: 100%;
	position: absolute;
	opacity: 0.8;
	z-index: 5;
	color: #fff;
}
.lazy-load-youtube-div:hover, .lazy-load-vimeo-div:hover, .lazy-load-youtube:hover > div {
	opacity: 1;
}
.lazy-load-youtube-div {
	background: url(images/play-youtube.png) center center no-repeat;
}
.lazy-load-vimeo-div {
	background: url(images/play-youtube.png) center center no-repeat;
}
.titletext {
	padding-left: 15px;
	position: relative;
	top: 7px;
	text-shadow: none;
}